<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/main.css" rel="stylesheet">
    
</head>
<body>
    <ul class="navBar">
        
        <li class="Home"><a href="/">PhotoRealm</a></li>
        <li class="navBarButtons"><a href="/about">About</a></li>
        <li class="login"><a href="/login">Login</a></li>
        {{#each _loginDetails}}
        <li class="login"><a href="/profile">{{this.username}}</a></li>
        {{/each}}
    </ul>
    {{{body}}}
</body>
</html>