<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/main.css" rel="stylesheet">
    <link href="./css/profile.css" rel="stylesheet">
</head>
<body class="background">
    <ul class="navBar">
        <li class="navBarButtons"><a href="/about">About</a></li>
        <li class="Home"><a href="/">PhotoRealm</a></li>
        {{#if _username}}
            <li class="login"><a href="/">Logout</a></li>
            <li class="login" id="profile"><a href="/profile">{{_username}}</a></li>
       {{else}}
            <li class="login"><a href="/login">Login</a></li>
            <li class="login" id="profile" hidden = true><a href="/profile">Profile</a></li>
       {{/if}}
    </ul>
    {{{body}}}
</body>
</html>