<ul class="navBar">
    <li class="navBarButtons"><a href="/">Home</a></li>
    <li class="navBarButtons"><a href="/about">About</a></li>
    <li class="login"><a href="/login">Login</a></li>
    <li class="login"><a href="/about">{{Pemail}}</a></li>
</ul>