<div class="container">
    <form action="/home" method="post" class="form flex-column flex-center">
        <div class="formBody">
            <div class="header flex-center flex-column">
                <h1>Login</h1>
            </div>
            <div class="inputBody">
                <div>
                    <label for="email">email:</label>
                    <input type="text" name="email" id="email" class="textBoxes">
                    <small class="smallEmail"></small>  
                </div>      
                <div>
                    <label for="email">password:</label>
                    <input type="password" name="password" id="password" class="textBoxes">
                    <small class="smallPassword"></small>
                </div>
            </div>
        </div>
        
        <button type="submit" id="login">Login</button>
        <a href="/register" id="logregister">Register</a>
    </form>
</div>