<div class="container">
    <form action="/register" method="post" class="form flex-column flex-center">
        <div class="formBody">
            <div class="header flex-center flex-column">
                <h1>Register</h1>
            </div>
            <div class="inputBody">
                <div>
                    <label for="username">username:</label>
                    <input type="text" name="username" id="username" class="textBoxes">
                    <small class="smallUsername"></small>  
                </div> 
                <div>
                    <label for="email">email:</label>
                    <input type="text" name="email" id="email" class="textBoxes">
                    <small class="smallEmail"></small>  
                </div>      
                <div>
                    <label for="password">password:</label>
                    <input type="password" name="password" id="password" class="textBoxes">
                    <small class="smallPassword"></small>
                </div>
                <div>
                    <label for="confpassword">Confirm password:</label>
                    <input type="confpassword" name="confpassword" id="confpassword" class="textBoxes">
                    <small class="smallConfPassword"></small>
                </div>
            </div>
        </div>
        <input type="button" name="register" id="register" value="Register">
    </form>
</div>
<script src="../public/js/registerCheck.js"></script>