.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/IMG_4179.JPG");
    background-repeat: no-repeat;
    background-size:cover;
}