#register{
    border-radius: .2rem;
    border:none;
    margin-top: 0.3rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-top: 1rem;
    background-color: bisque;
}
#register:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgba(97, 221, 215,0.5);
    transform: translateY(-0.2rem) translateX(-.1rem);
    border-radius: .6rem;
    
    transition: 100ms;
}
#login{
    border-radius: .2rem;
    border:none;
    margin-top: 0.3rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-top: 1rem;
    background-color: bisque;
}
#login:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgba(97, 221, 215,0.5);
    transform: translateY(-0.2rem) translateX(-.1rem);
    border-radius: .6rem;
    
    transition: 100ms;
}
#logregister{
    border-radius: .2rem;
    border:none;
    margin-top: 0.3rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-top: 1rem;
    text-decoration: none;
    background-color: bisque;
    color: black;
}
#logregister:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgba(97, 221, 215,0.5);
    transform: translateY(-0.2rem) translateX(-.1rem);
    border-radius: .6rem;
    
    transition: 100ms;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.form{
    background-color: rgba(51, 80, 92, 0.507);
    border-radius: 5%;
    padding: 1rem 1rem 1rem 1rem;
}
.textBoxes{
    margin-bottom: .2rem;
    margin-right: .5rem;
    margin-top: .2rem;
}
label{
    display: inline-block;
    width: 10rem;
    text-align: right;
}
.inputBody{
    background-color: rgba(184, 152, 104, 0.699);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
}
.header{
    background-color: rgba(184, 152, 104, 0.699);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}
.footer{
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(184, 152, 104, 0.699);
}
.conBody{
    background-color: rgba(184, 179, 169, 0.795);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.conditions{
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    color: red;
}
.conditions:before {
    position: relative;
    left: -10px;
    content: "\d7";
}
.validconditions {
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    color: green;
}
.validconditions:before {
    position: relative;
    left: -10px;
    content: "\2713";
}

.valBody{
    color: rgba(255, 0, 0, 0);
   /* background-color: rgba(184, 179, 169, 0.795);*/
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
}

.invalconditions {
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    color: rgba(255, 0, 0, 0.897);
}
html{
    font-family:Arial, Helvetica, sans-serif;
}



