.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.836);
  }
  .login {
    float: right;
  }
  .navBarButtons {
    float: left;
  }
  
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .login {
    float: right;
  }
  
  /* Change the link color to #111 (black) on hover */
  a:hover {
    background-color: #111;
  }

  .Home{
    color: white;
    float:left;
  }
  .background{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0 0 0 0;
    background-image: url("../img/IMG_2708.JPG");
    background-repeat: no-repeat;
    background-size:cover;
}
  .flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.justify-center{
    justify-content: center;
}

html{
  font-family:Arial, Helvetica, sans-serif;
}